<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="<%= config.google_site_verification %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <meta name="description" content="<%= config.description %>"> -->
    <!--  <meta name="keyword"  content="<%= config.keyword %>"> -->
    <link rel="shortcut icon" href="<%= config.root %>img/favicon.ico">

    <!-- yangjg add meta data for SEO keyword optimization -->
    <% if (page.keywords){ %>
        <meta name="keywords" content="<%= page.keywords %>">
    <% } else if (page.tags){ %>
       <% var thistags=[];
          page.tags.each(function(k){
          thistags.push(k.name);
       }) %>
       <meta name="keywords" content="<%= thistags %>">
    <% } else if (config.keywords){ %>
       <meta name="keywords" content="<%= config.keywords %>">
    <% } %>

    <%  var description = page.description || '';
        if (!description) {
            if (page.excerpt) {
                description = strip_html(page.excerpt);
            } else if (page.content) {
                description = strip_html(page.content);
            } else {
                description = config.description;
            }
        }
        description = description.substring(0, 200).replace(/^\s+|\s+$/g, '');
    %>
    <meta name="description" content="<%= description %>">

    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <!-- yangjg change for debug -->
    <% if (config.debugable) { %>
        <%- css('css/bootstrap.css') %>
        <!-- Custom CSS -->
        <%- css('css/hux-blog.css') %>
    <% } else{%>
        <%- css('css/bootstrap.min.css') %>
        <!-- Custom CSS -->
        <%- css('css/hux-blog.min.css') %>
    <% } %>

    <!-- Pygments Github CSS -->
    <%- css('css/syntax') %>

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <% if (config.use_qiniu) { %>
        <!-- Hux change font-awesome CDN to qiniu -->
        <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <% } else{%>
        <!-- yangjg change font-awesome to local because pending sometime -->
        <%- css('css/font-awesome.min.css') %>
    <% } %>

    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>
